.main-page {
    background-color: brown;
    color: blueviolet;
}
.title h1 {
    text-align: center;
}
.card-wrapper {
    display: flex;
    justify-content: center;
}
.main-page p {
    color: aqua;
}